@media (max-width:576px) and (min-width:576px){
	.row {
    --bs-gutter-x: 0 !important;
	--bs-gutter-y: 0 !important;
	}
	.aftr::after{
		content: "";
		width: 80px;
		height: 2px;
		background-color: orange;
		position: absolute;
		left: 120px;
		bottom:45px;
	}
}
@media (min-width:768px){
	.aftr::after{
		content: "";
		width: 80px;
		height: 2px;
		background-color: orange;
		position: absolute;
		left: 115px;
		bottom:45px;
	}
}
@media (min-width:992px){
	.aftr::after{
		content: "";
		width: 80px;
		height: 2px;
		background-color: orange;
		position: absolute;
		left: 140px;
		bottom:45px;
	}
}